// ==============================
// Override Variables
//
// ==============================

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


$global-font-size: 20px;
$global-font-family: Merriweather, serif;

// Color of the header background
$header-background-color: white;
$header-background-color-dark: #292A2D;

$global-line-height: 1.5rem;

$toc-title-font-size: 1.0rem;
$toc-content-font-size: 0.8rem;




