{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page archive">
        {{- /* Title */ -}}
        <h2 class="single-title">
          <!-- {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}} -->
          All Book Notes
        </h2>

        {{- /* Paginate */ -}}
        {{- if .Pages -}}
                {{- range .Pages -}}
                    <div style="margin-top: 80px">
                      <!-- <article class="archive-item"> -->
                            <a href="{{ .RelPermalink }}" style="font-size: 1.8rem; display: block">
                                {{- .Title -}}
                            </a>
                            <!-- </article> -->
                            <div style="display: flex; justify-content: center; margin-top: 40px;">
                              <div style="min-width: 260px; max-width: 260px; margin-right: 2.5rem;">
                                <a href="{{ .RelPermalink }}" >
                                <img src="{{ .RelPermalink }}/book_cover.png" style="display: inline-block; width: 100%" href>
                                </a>
                              </div>

                              <div style="height: 100%">
                                <div>
                                  Posted&nbsp;{{- default "January 2, 2006" | .Date.Format -}}
                                </div>

                                <div style="margin-top: 20px">
                                  My rating: {{ .Params.Score }}/10
                                </div>

                                <div style="margin-top: 20px">
                                  {{ .Params.Thoughts }}
                                </div>

                                <a href="{{ .RelPermalink }}" style="background-color: #008CBA; border: none; color: white; padding: 15px 32px; text-align: center; font-size: 16px; margin-top: 20px; display: block; width: 110px;">
                                  Full Review
                                </a>
                              </div>
                            </div>
                    </div>
                {{- end -}}
            {{- partial "paginator.html" . -}}
        {{- end -}}
    </div>
{{- end -}}
